<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Нова катка</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/rides">Back</ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Нова катка</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-label>{{ latitude }} lat {{ longitude }} lon</ion-label>
  <div class="container">
    <capacitor-google-maps #map></capacitor-google-maps>
  </div>
</ion-content>
