<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Катки</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/">Back</ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button mode="md">
        <ion-icon icon="add-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Катки</ion-title>
    </ion-toolbar>
  </ion-header>
</ion-content>
